* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: rgb(188, 251, 249);
  padding: 10px;
  width: 550px;
  margin: 0 auto;
}

form {
  padding: 10px;
}

input {
  padding: 5px 10px;
  margin: 3px;
  border: none;
  border-radius: 15px;
  background-color: aliceblue;
  border: 1px solid black;
}

button {
  width: 100px;
  padding: 3px;
  border-radius: 15px;
  border: none;
  margin: 3px;
  color: white;
  background-color: rgb(19, 102, 196);
  transition: all 300ms;
}

button:hover {
  width: 100px;
  padding: 3px;
  border-radius: 15px;
  border: none;
  margin: 3px;
  color: rgb(31, 99, 193);
  background-color: rgb(255, 255, 255);

}

.btn-area {
  border: 1px solid black;
  margin-top: 10px;
  padding: 3px;
}

.btn-area p {
  display: flex;
  justify-content: space-between;
}

.buttom-area {
  display: flex;
}
