.ui.menu {
  background-color: #003F62;
  width: 1440px;
  margin: 0 auto;
  padding: 22px 118px;
  display: flex;
  align-items: center;
}

.right.menu{
  margin-right: 118.7px;
  display: flex;
  align-items: center;
  gap: 31px;
}

.right.menu a {
  color: white;
  text-decoration: none;
}

.right.menu i {
  color: white;
}

.ui.menu input {
  margin-left: 85px;
  border: none;
  height: 56px;
  width: 300px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 17px 25px;
}

.ui.menu button {
  border: none;
  height: 56px;
  width: 132px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #EDA415;
  color: white;
}

.ui.menu img {
  height: 39px;
}