.topposter {
    height: 320px;
    width: 380px;
    margin-bottom: 20px;
}

.poster {
    height: 258.1px;
    border-radius: 7px;
    transition-duration: 300ms;
}

.poster:hover {
    height: 266px;
    border-radius: 4px;
}

.etseg {
    display: flex;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
    gap: 8px;
    justify-content: center;
    padding-bottom: 20px;
}

.movieCont p {
    width: 180px;
    font-size: 12px;
}

.font {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
    width: 1150px;
}

.font h3{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    border-left: 3px solid red;
    width: 800px;
    margin-left: 15px;
}


.titleName {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titleName a {
    padding-right: 20px;
    font-size: 12px;
    color: #3976dc;
    font-weight: 700;
}