.container {
  width: 1100px;
  margin: auto;
  max-width: 100%;
}
.header {
  background-color: #fa320a;
  display: flex;
  align-items: center;
  margin-top: 80px;
  height: 103px;
  color: white;
  font-family: var(--font-mono);
  justify-content: space-evenly;
}


.logoIMG {
  height: 50px;
}

.searchINP {
  width: 320px;
  margin: 20px;
}

.searchBar {
  width: 301px;
  border-radius: 26px;
  border: none;
  height: 31px;
  background-color: rgba(0, 0, 0, 0.4);
}

.searchINP input{
  width: 384px;
  height: 31px;
  border-radius: 26px;
  border: 1px solid white;
  background-color: rgba(0,0,0,0.4);
}

.searchBar::placeholder {
  color: white;
  padding-left: 20px;
}

.navlinks {
  display: flex;
  width: 400px;
  gap: 20px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.navigateDiv {
  display: flex;
  justify-content: end;
  gap: 35px;
}

.navigateDiv a {
  border: none;
  margin: 0;
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  font-family: "Franklin Gothic", "PT Sans",Arial,Sans-Serif;;
} 

.font {
  font-weight: 600;
}

.trendingBar {
  display: flex;
  justify-content: start;
  color: white;
  gap: 15px;
}

.trendingBar h3 {
  color: #ffe400;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.trendingBar a{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.icons {
  display: flex;
  gap: 15px;
}

.nav {
  display: flex;
  width: 474px;
  gap: 20px;
  padding: 20px 0px 0px 43px;
  font-weight: 600;
  justify-content: end;
}

.nav a {
  font-family: "Franklin Gothic", "PT Sans",Arial,Sans-Serif;
  font-size: 16px;
  transition-duration: 300ms;
}

.nav a:hover {
  font-family: "Franklin Gothic", "PT Sans",Arial,Sans-Serif;
  font-size: 16px;
  background-color: white;
  color: #fa320a;
  border-radius: 4px;
}

.trendingBarFLEX {
  display: flex;
  justify-content: space-between;
  background-color: rgba(0,0,0,.6);
  padding: 4px 10px;
  color: white;
}